* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 30px;
    font-family: "Courier New", "sans-serif";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#display {
    flex: 1;
    background-color: rgb(189, 189, 189);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

p {
    font-size: 60px;
    text-align: right;
    flex: 1;
}

#calculator {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 400px;
    height: 540px;
    flex-shrink: 0;
    padding: 10px;
}

#buttons {
    display: flex;
    flex: 4;
    gap: 10px;
}

#numbers {
    display: flex;
    flex-direction: column;
    flex: 3.5;
    gap: 5px;
}

#numbers div {
    display: flex;
    flex: 1;
    gap: 5px;
}

#operators {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
}

button {
    flex: 1;
}

